p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: unset;
}

a {
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.tran-4, .bottom-style, .nav-section .nav-ul ul li a, .nav-section .nav-ul .box-bottom a, .intro-section .intro-bottom-box a, .marketing-section .blog-slider .slick-dots li button:before, .marketing-section .blog-slider-item .blog-box .blog-img-box .blog-img, .marketing-section .blog-slider-item .blog-box .blog-img-box .blog-img::after, .marketing-section .blog-slider-item .blog-box .blog-box-details .blog-title, .footer-section .footer-content .footer-form-box .footer-form .form-group .form-control, .footer-section .footer-content .footer-ul ul li a {
  transition: 0.4s all ease-in-out;
}

.prag {
  font-size: 18px;
  font-weight: 500;
  color: #2f281e;
}

.bottom-style {
  border-radius: 2px;
  border: 1px solid #ff9900;
  background-color: #ff9900;
  color: white;
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.bottom-style:hover {
  background-color: transparent;
  color: #ff9900;
  box-shadow: 3px 3px 5px rgba(188, 208, 229, 0.5);
}

.section-padding {
  padding: 110px 0;
}

.section-title .title {
  font-size: 36px;
  font-weight: 700;
  color: #2f281e;
  padding: 0 0 50px;
}

.nav-section {
  padding: 30px 0;
}
.nav-section .logo-box {
  align-items: center;
  display: flex;
  height: 100%;
}
.nav-section .nav-ul {
  align-items: center;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav-section .nav-ul ul {
  align-items: center;
  height: 100%;
  display: flex;
}
.nav-section .nav-ul ul li {
  margin: 0 10px;
}
.nav-section .nav-ul ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #2f281e;
}
.nav-section .nav-ul ul li a:hover {
  color: #ff9900;
}
.nav-section .nav-ul .box-bottom {
  margin: 0 0 0 20px;
  display: flex;
}
.nav-section .nav-ul .box-bottom a {
  margin: 0 5px 0 0;
  font-size: 16px;
  font-weight: 600;
  padding: 11px 25px;
}
.nav-section .nav-ul .box-bottom a:hover {
  box-shadow: 3px 3px 5px rgba(188, 208, 229, 0.5);
}
.nav-section .nav-ul .box-bottom a.sign-bottom {
  color: #173a56;
  border-radius: 2px;
  border: 1px solid #bcd0e5;
}
.nav-section .nav-ul .box-bottom a.sign-bottom:hover {
  border: 1px solid #ff9900;
  color: #ff9900;
}
.nav-section .nav-ul .box-bottom a.signUp-bottom {
  border-radius: 2px;
  border: 1px solid #ff9900;
  background-color: #ff9900;
  color: white;
}
.nav-section .nav-ul .box-bottom a.signUp-bottom:hover {
  background-color: transparent;
  color: #ff9900;
}

.intro-section {
  padding: 30px 0 40px;
}
.intro-section .intro-content .intro-title {
  font-size: 40px;
  font-weight: 700;
  color: #2f281e;
  margin: 0 0 30px;
}
.intro-section .intro-bottom-box {
  display: flex;
  margin: 30px 0 0;
  align-items: center;
}
.intro-section .intro-bottom-box a {
  font-size: 16px;
  font-weight: 600;
  margin: 0 30px 0 0;
}
.intro-section .intro-bottom-box a.pop-bottom {
  color: #ff9900;
}
.intro-section .intro-bottom-box a.pop-bottom i {
  margin: 0 10px 0;
}
.intro-section .intro-bottom-box a.pop-bottom:hover {
  color: #173a56;
}

.design-section {
  background-image: url("../img/Bg.svg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.design-section .section-title {
  text-align: center;
}
.design-section .section-title .title {
  width: 49%;
  margin: 0 auto;
}
.design-section .design-box.bage-box i {
  background-color: #7752be;
  box-shadow: 2px 8px 6px rgba(119, 82, 190, 0.3);
}
.design-section .design-box.yealw-box i {
  background-color: #fab005;
  box-shadow: 2px 8px 6px rgba(250, 176, 5, 0.3);
}
.design-section .design-box.red-box i {
  background-color: #f03e3d;
  box-shadow: 2px 8px 6px rgba(240, 62, 61, 0.3);
}
.design-section .design-box.blue-box i {
  background-color: #4dadf7;
  box-shadow: 2px 8px 6px rgba(77, 173, 247, 0.3);
}
.design-section .design-box i {
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 19px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.design-section .design-box .box-title {
  font-size: 22px;
  color: #2f281e;
  font-weight: 600;
  padding: 20px 0 10px;
}
.design-section .bottom-box {
  margin: 60px 0 0;
  text-align: center;
}

.details-section .details-row-box {
  padding: 100px 0;
}
.details-section .details-row-box:first-of-type {
  padding: 0;
}
.details-section .details-row-box .details-box {
  width: 90%;
}
.details-section .details-row-box .details-box .details-smallTitle {
  font-size: 16px;
  color: #2f281e;
  font-weight: 500;
  margin: 0 0 4px;
}
.details-section .details-row-box .details-box .details-title {
  font-size: 36px;
  color: #2f281e;
  font-weight: 600;
  margin: 0 0 30px;
}
.details-section .details-row-box .details-box .details-ul {
  margin: 30px 0 0;
}
.details-section .details-row-box .details-box .details-ul.scound-details-row-ul li {
  padding: 0 60px;
}
.details-section .details-row-box .details-box .details-ul.scound-details-row-ul li::after {
  position: absolute;
  content: "\f00c";
  width: 30px;
  height: 30px;
  padding: 2px;
  border: 1px solid #ff9900;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff9900;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 9px;
}
.details-section .details-row-box .details-box .details-ul.scound-details-row-ul li::before {
  position: absolute;
  content: "";
  width: 36px;
  height: 36px;
  padding: 2px;
  border: 1px solid #ff9900;
  left: -3.01px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 9px;
}
.details-section .details-row-box .details-box .details-ul li {
  position: relative;
  margin: 0 0 25px;
}
.details-section .details-row-box .details-box .details-ul li .ul-details-smallTitle {
  font-size: 16px;
  color: #2f281e;
  font-weight: 700;
  margin: 0 0 10px;
}
.details-section .details-row-box .details-box .details-ul li .prag {
  font-size: 14px;
}

.people-section {
  margin: 100px 0;
  background-image: url("../img/Bg2.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.people-section .people-take {
  margin: 20px 0 0;
  text-align: end;
}
.people-section .people-take.people-take2 {
  text-align: start;
}
.people-section .people-take.people-take2 .prag::after {
  right: unset !important;
  left: 22px;
}
.people-section .people-take.people-take2 .img-people {
  float: left;
}
.people-section .people-take.people-take2 .img-people::after {
  right: 22px !important;
  left: unset;
}
.people-section .people-take .prag {
  padding: 12px 22px;
  background-color: white;
  border-radius: 30px;
  font-size: 14px;
  position: relative;
  display: inline-block;
  margin: 0 0 0 56px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
.people-section .people-take .prag::after {
  content: "";
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  bottom: -7px;
  right: 78px;
  position: absolute;
  z-index: -1;
}
.people-section .people-take .img-people {
  float: right;
  margin-right: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: -5px 0 0;
  position: relative;
}
.people-section .people-take .img-people::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  top: 12px;
  left: 22px;
  position: absolute;
}
.people-section .people-details-box {
  text-align: center;
}
.people-section .people-details-box .people-title {
  font-size: 36px;
  font-weight: 700;
  color: #2f281e;
  margin: 0 auto 10px;
}
.people-section .people-details-box .prag {
  width: 70%;
  margin: 30px auto 40px;
}

.marketing-section .section-title {
  margin: 0 0 40px 0;
}
.marketing-section .section-title .title {
  padding: 0 0 10px;
}
.marketing-section .blog-slider .slick-dots li {
  width: 15px;
  height: 15px;
}
.marketing-section .blog-slider .slick-dots li.slick-active button:before {
  background-color: #ff9900;
}
.marketing-section .blog-slider .slick-dots li button {
  width: 15px;
  height: 15px;
}
.marketing-section .blog-slider .slick-dots li button:before {
  width: 15px;
  height: 15px;
  content: "";
  border-radius: 50%;
  background-color: #2f281e;
}
.marketing-section .blog-slider .slick-center .blog-slider-item .blog-img-box .blog-img {
  transform: scale(1.06);
}
.marketing-section .blog-slider .slick-center .blog-slider-item .blog-img-box .blog-img:after {
  opacity: 1;
}
.marketing-section .blog-slider .slick-center .blog-slider-item .blog-box .blog-box-details .blog-title {
  color: #ff9900;
}
.marketing-section .blog-slider-item {
  width: calc(100% - 20px) !important;
}
.marketing-section .blog-slider-item .blog-box {
  position: relative;
}
.marketing-section .blog-slider-item .blog-box:hover .blog-img-box .blog-img {
  transform: scale(1.06);
}
.marketing-section .blog-slider-item .blog-box:hover .blog-img-box .blog-img:after {
  opacity: 1;
}
.marketing-section .blog-slider-item .blog-box .blog-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 888;
}
.marketing-section .blog-slider-item .blog-box .blog-img-box {
  width: 348px;
  height: 185px;
  overflow: hidden;
  border-radius: 9px 9px 0 0;
}
.marketing-section .blog-slider-item .blog-box .blog-img-box .blog-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.marketing-section .blog-slider-item .blog-box .blog-img-box .blog-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(77, 173, 247, 0.3);
  opacity: 0;
}
.marketing-section .blog-slider-item .blog-box .blog-box-details .user-date {
  display: flex;
}
.marketing-section .blog-slider-item .blog-box .blog-box-details .user-date .user-na, .marketing-section .blog-slider-item .blog-box .blog-box-details .user-date .date {
  padding: 30px 0 15px;
  margin: 0 2px 0 0;
  font-size: 16px;
  font-weight: 500;
  color: #2f281e;
}
.marketing-section .blog-slider-item .blog-box .blog-box-details .user-date .user-na span, .marketing-section .blog-slider-item .blog-box .blog-box-details .user-date .date span {
  font-weight: 700;
}
.marketing-section .blog-slider-item .blog-box .blog-box-details .blog-title {
  font-size: 22px;
  font-weight: 600;
  color: #2f281e;
  padding: 0 0 50px;
}

.footer-section .footer-content {
  border-top: 1px solid rgba(47, 40, 30, 0.4);
  padding: 80px 0;
}
.footer-section .footer-content .footer-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 40px;
  color: #2f281e;
}
.footer-section .footer-content .footer-form-box .footer-form .form-group .form-control {
  width: 100%;
  height: 48px;
  padding: 15px;
  border: 1px solid rgba(47, 40, 30, 0.2);
}
.footer-section .footer-content .footer-form-box .footer-form .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #bcd0e5;
}
.footer-section .footer-content .footer-form-box .footer-form .form-group .bottom-style {
  padding: 8px 15px;
}
.footer-section .footer-content .footer-ul ul li a {
  font-size: 16px;
  font-weight: 600;
  color: rgba(47, 40, 30, 0.7);
}
.footer-section .footer-content .footer-ul ul li a:hover {
  color: #2f281e;
}
